# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
env/

# Machine Learning models
*.pkl
*.pickle
*.keras
*.h5
*.joblib

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log